[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "minimaxALT"]
	path = minimaxALT
	url = https://github.com/hoanglinh171/minimaxalt
